/* src/style.css */

/* 1. 消除浏览器默认的白边 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. 关键！强制让根容器占满屏幕高度 */
html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden; /* 防止出现双滚动条 */
}
